@model Dictionary<string, double>

<table>
    @foreach(KeyValuePair<string, double> kvp in Model)
    {
    <tr>
        <td>
            @if (kvp.Value >= 0)
            {
                @kvp.Key
            }
            else
            {
            <h3>@kvp.Key</h3>
            }
        </td>
        <td>
            @if (kvp.Value >= 0)
            {
                @kvp.Value
            }
        </td>
    </tr>
    }
</table>