<style type="text/css">
    .text h1 {
        margin: 30px 0px 30px 0px;
    }

    div.text {
        margin: 0px 5% 0px 5%;
    }
</style>
<div class="text">
    <h1>Welcome to iDiv's Biodiversity Data Portal (iBDP)</h1>
    <p>iDiv represents a large scale collaborative biodiversity science research initiaitve whose central mission is to promote theory-driven synthesis and data-driven theory. It is widely agreed upon that data preservation and sharing is essential to further biodiversity research in general and to reach these aims in particular. To support this, many funding agencies – including DFG – have strong expectations with respect to data management and reuse.</p>
    <p>Within iDiv, the Biodiversity Informatics Unit (BDU) is providing iDiv's Biodiversity Data Portal (iBDP), an infrastructure for data management. The main aim of the portal is to help iDiv's researchers and scientists to organise, store, access, visualise, share and publish biodiversity data.</p>
    <p>To access data and data management facilities that this portal provides, you should be a registered user. For <b>registration</b>, go to the Register link located on top right-side of this page or click <a href="#" onclick="Register()"><b style="color:black">here</b></a>. Details regarding the use of the data management portal can be found under Help link.</p>
    <p><b>Please note that the validation and approval of your registration requires one working day.</b></p>
    <p>If, you find any issues with the portal and have suggestion then please let us know.</p>
    <p>The portal is a ongoing development process. There always will be enhancements, additions of new features, performance optimisation, bugs fixing and improvements to user-interface to make it more user-friendly. Please visit us again as we work to deliver you efficient and user-friendly biodiversity data management solutions, information and updates. Thank you for your patience.</p>
    <p>If you require any further information or assistance regarding biodiversity data management please do not hesitate to contact us at <a href="mailto:bdu@idiv.de"><b style="color:black">bdu@idiv.de</b></a></p>
</div>