<style type="text/css">
    .text h1 {
        margin: 30px 0px 30px 0px;
    }

    div.text {
        margin: 0px 5% 0px 5%;
    }
</style>
<div class="text">
    <h1>Contact</h1>

    <h3>
        Anahita Kazem
    </h3>

   <!-- <p>Friedrich Schiller University Jena</p>

    <p>
        Leutragraben 1<br />
        07743 Jena<br />
        Germany
    </p>
    <p>
        Phone: +49 (0) 3641-9-46368<br />
        Email: <a href="mailto:jitendra.gaikwad@uni-jena.de">jitendra.gaikwad (AT) uni-jena.de</a>
    </p>-->

    <p>  ibid-support<span>&#x40;</span><!--<span>werwe</span>-->uni-leipzig.de</p>
</div>