<style type="text/css">
    .text h1 {
        margin: 30px 0px 30px 0px;
    }

    .text h3 {
        margin: 20px 0px 0px 0px;       
    }

    div.text {
        margin: 0px 5% 0px 5%;
    }

    div.text a{
        text-decoration:underline;
    }

    div.text .logo {
        margin:0px;
        padding:5px;
        height:80px;
        width:255px;
    }

    div.text .link {
        margin:0px;
        padding-left:20px;
    }

    div.text .list {
        margin-left:5%;
    }

</style>
<div class="text">
    <h1>Databases and Data Portals in iDiv</h1>
    <table class="list">
        <tr>
            @*<td class="logo" style="background-color:#565655;"><img src="~/Areas/IDIV/Images/Logos/Databases/apes.png" /></td>*@
            <td class="link"><a target="_blank" href="http://apesportal.eva.mpg.de/database/archiveTable"><h3>A.P.E.S database</h3></a></td>
        </tr>
        <tr>
            @*<td class="logo"><img src="~/Areas/IDIV/Images/Logos/Databases/AquaDiva.png" /></td>*@
            <td class="link"><a target="_blank" href="https://aquadiva-pub1.inf-bb.uni-jena.de"><h3>AquaDiva</h3></a></td>
        </tr>
        <tr>
            @*<td class="logo"><img src="~/Areas/IDIV/Images/Logos/Databases/BefChina.png" /></td>*@
            <td class="link"><a target="_blank" href="http://bacdive.dsmz.de/"><h3>BacDive - The Bacterial Diversity Metadatabase</h3></a></td>
        </tr>
        <tr>
            @*<td class="logo"><img src="~/Areas/IDIV/Images/Logos/Databases/BefChina.png" /></td>*@
            <td class="link"><a target="_blank" href="http://www.bgc-jena.mpg.de/geodb/BACI/Home.php"><h3>BACI - Biosphere Atmosphere Change Index</h3></a></td>
        </tr>
        <tr>
            @*<td class="logo"><img src="~/Areas/IDIV/Images/Logos/Databases/BefChina.png" /></td>*@
            <td class="link"><a target="_blank" href="http://www.bgc-jena.mpg.de/geodb/BGI/Home.php"><h3>BGI - Biogeochemical Integration</h3></a></td>
        </tr>
        <tr>
            @*<td class="logo"><img src="~/Areas/IDIV/Images/Logos/Databases/BefChina.png" /></td>*@
            <td class="link"><a target="_blank" href="http://china.befdata.biow.uni-leipzig.de/data"><h3>BEF - China</h3></a></td>
        </tr>
        <tr>
            @*<td class="logo"><img src="~/Areas/IDIV/Images/Logos/Databases/BExIS.png" /></td>*@
            <td class="link"><a target="_blank" href="http://www.biodiversity-exploratories.de/1/infrastruktur/data-management"><h3>Biodiversity Exploratories</h3></a></td>
        </tr>
        <tr>
            @*<td class="logo"><img src="~/Areas/IDIV/Images/Logos/Databases/BiolFlor.gif" /></td>*@
            <td class="link"><a target="_blank" href="http://www2.ufz.de/biolflor"><h3>BiolFlor</h3></a></td>
        </tr>
        <tr>
            @*<td class="logo"><img src="" /></td>*@
            <td class="link"><a target="_blank" href="http://www.bgc-jena.mpg.de/geodb/Carbo-Extreme/Home.php"><h3>CARBO-Extreme</h3></a></td>
        </tr>
        <tr>
            @*<td class="logo"><img src="" /></td>*@
            <td class="link"><a target="_blank" href="http://www2.biologie.uni-halle.de/bot/ag_chorologie/choro"><h3>Chorology Database</h3></a></td>
        </tr>
        <tr>
            @*<td class="logo"><img src="" /></td>*@
            <td class="link"><a target="_blank" href=" http//www.bgc-jena.mpg.de/geodb/DEHESyRE/Home.php"><h3>EUFAR - DEHESHyrE</h3></a></td>
        </tr>
        <tr>
            @*<td class="logo"><img src="" /></td>*@
            <td class="link"><a target="_blank" href="http://fundiv.befdata.biow.uni-leipzig.de"><h3>FunDivEUROPE</h3></a></td>
        </tr>
        <tr>
            @*<td class="logo"><img src="~/Areas/IDIV/Images/Logos/Databases/gfbio.png" /></td>*@
            <td class="link"><a target="_blank" href="http://www.gfbio.org/find-use-data"><h3>German Federation for Biological Data (GFBio)</h3></a></td>
        </tr>
        <tr>
            @*<td class="logo"><img src="~/Areas/IDIV/Images/Logos/Databases/glues.jpg" /></td>*@
            <td class="link"><a target="_blank" href="http://www2.biologie.uni-halle.de/bot/vegetation_db"><h3>German Vegetation Reference Database</h3></a></td>
        </tr>
        <tr>
            @*<td class="logo"><img src="" /></td>*@
            <td class="link"><a target="_blank" href="http://geoportal-glues.ufz.de"><h3>GLUES Geoportal</h3></a></td>
        </tr>
        <tr>
            @*<td class="logo"><img src="" /></td>*@
            <td class="link"><a target="_blank" href="http://www.the-jena-experiment.de/Data.html"><h3>Jena Experiment</h3></a></td>
        </tr>
        <tr>
            @*<td class="logo"><img src="~/Areas/IDIV/Images/Logos/Databases/jenaExperiment.png" /></td>*@
            <td class="link"><a target="_blank" href="http://www.ufz.de/trophinoak/index.php?de=31205"><h3>TrophinOak</h3></a></td>
        </tr>
        <tr>
            @*<td class="logo"><img src="~/Areas/IDIV/Images/Logos/Databases/Try.jpg" /></td>*@
            <td class="link"><a target="_blank" href="https://www.try-db.org/TryWeb/dp.php"><h3>TRY Trait database</h3></a></td>
        </tr>
    </table>
</div>