<style type="text/css">
    .text h1 {
        margin: 30px 0px 30px 0px;
    }

    .text h2 {
        margin: 20px 0px 0px 0px;       
    }

    div.text {
        margin: 0px 5% 0px 5%;
    }

    div #toc {
        font-weight:bold;
    }

    div.text a{
        text-decoration:underline;
    }

</style>
<div class="text">
    <h1>FAQ’s About Data Access and Storage on the iDiv Biodiversity Data Portal (iBDP)</h1>
    <div id="toc">
        <ul>
            <li><a href="#yDivStudentsFunded">yDiv Students (iDiv Funded)</a></li>
            <li><a href="#yDivStudentsNotFunded">yDiv Students (Not iDiv Funded)</a></li>
            <li><a href="#sDivPostDocs">sDiv Workshop Postdocs/Organisers/Postdocs Fellows/Sabbaticals</a></li>
            <li><a href="#iDivCoreMemberPostdocs">iDiv Core Member and their Research Group Postdocs</a></li>
            <li><a href="#iDivMembers">iDiv Members</a></li>
            <li><a href="#DataMetadataAccess">About Data, Metadata and Access Policy</a></li>
        </ul>
    </div>

    <table>

        <tr id="yDivStudentsFunded">
            <td colspan="2"><h2>yDiv Students (iDiv Funded)</h2></td>
        </tr>

        <tr>
            <th>Senario</th>
            <th>Response/Action</th>
        </tr>
        <tr>
            <td>I have recently started my research.</td>
            <td>
                <ul style="list-style-type:decimal;">
                    <li>Contact the Biodiversity Informatics Unit (BDU) to seek advice on Biodiversity Data Management Planning.</li>
                    <li>We strongly recommend you to visit the data carpentry website to gain more insights into biodiversity data management at <a href="http://www.datacarpentry.org" target="_blank">www.datacarpentry.org</a></li>
                </ul>
            </td>
        </tr>
        <tr>
            <td>I have data and my research is funded by iDiv.</td>
            <td>
                <ul style="list-style-type:decimal;">
                    <li>Provide information about your Biodiversity Data Management Plans and Data Storage to BDU.</li>
                    <li>Upload data and metadata to the iBDP</li>
                </ul>
            </td>
        </tr>
        <tr>
            <td>At what stage should I upload data to the portal?</td>
            <td>
                <ul style="list-style-type:decimal;">
                    <li>As soon as you have finished data processing and quality checks, it should be stored on the portal along with metadata.</li>
                </ul>
            </td>
        </tr>
        <tr>
            <td>I am writing a paper and do not want other researchers to access my data till my work is published.</td>
            <td>
                <ul style="list-style-type:decimal;">
                    <li>The data can be stored on the portal under embargo for 2 years. However, for data discovery, information about your dataset (metadata) will be made accessible to all.</li>
                    <li>Upon request to BDU, it is possible to extend the embargo period for another 2 years.</li>
                    <li>To safeguard against any accidental data loss and for long-term preservation we request you to store data on the iBDP at the earliest time possible.</li>
                </ul>
            </td>
        </tr>
        <tr>
            <td>I want to upload data to a repository which is more appropriate and specifically for my dataset type.</td>
            <td>
                <ul style="list-style-type:decimal;">
                    <li>Provide metadata along with the URL for the dataset to the iBDP.</li>
                </ul>
            </td>
        </tr>
        <tr>
            <td>What happens if I fail to upload data/metadata to iBDP?</td>
            <td>
                <ul style="list-style-type:decimal;">
                    <li>As a responsible researcher it is your responsibility to adhere to the rules and regulations described in iDiv data policy. Your supervisor has signed the data policy on your behalf.</li>
                    <li>Because of your failure to adhere to the rules and regulations described in iDiv data policy, the supervisor potentially may lose access to the iBDP, funds and iDiv resources. Think again!!</li>
                    <li>This would also cause unnecessary delays for you to get a final clearance certificate.</li>
                </ul>
            </td>
        </tr>

        <tr id="yDivStudentsNotFunded">
            <td colspan="2"><h2>yDiv Students (Not iDiv Funded)</h2></td>
        </tr>

        <tr>
            <th>Senario</th>
            <th>Response/Action</th>
        </tr>
        <tr>
            <td>I have recently started my research.</td>
            <td>
                <ul style="list-style-type:decimal;">
                    <li>Contact the Biodiversity Informatics Unit (BDU) to seek advice on Biodiversity Data Management Planning.</li>
                </ul>
            </td>
        </tr>
        <tr>
            <td>I have data, but my PhD research is not funded by iDiv.</td>
            <td>
                <ul style="list-style-type:decimal;">
                    <li>Provide information about your Biodiversity Data Management Plans and Data Storage to BDU.</li>
                    <li>Consult with your supervisor about data storage and access policy.</li>
                    <li>Provide metadata (information about your dataset and project) to iBDP</li>
                </ul>
            </td>
        </tr>

        <tr id="sDivPostDocs">
            <td colspan="2"><h2>sDiv Workshop Postdocs/Organisers/Postdocs Fellows/Sabbaticals</h2></td>
        </tr>
    
        <tr>
            <th>Senario</th>
            <th>Response/Action</th>
        </tr>
        <tr>
            <td>I am an sDiv Workshop researcher/organiser. The participants of the workshop do not want to store data on the iBDP</td>
            <td>
                <ul style="list-style-type:decimal;">
                    <li>Provide information about your data and workshop project to BDU.</li>
                    <li>We strongly recommend storing of data on the iBDP under restricted access for potential future use by the workshop group and reproducibility of results.</li>
                </ul>
            </td>
        </tr>
        <tr>
            <td>For our synthesis workshop project we are using publicly available datasets. For example, by aggregating various datasets; deriving new dataset; using subsets etc.</td>
            <td>
                <ul style="list-style-type:decimal;">
                    <li>Provide information (metadata) on the compiled or aggregated dataset which will be finally used for your research question. For example- how was the dataset aggregated? Which datasets were used to aggregate dataset? How is the public data available? Etc.</li>
                    <li>We strongly recommend storing of datasets (public and aggregated) used for the research question on iBDP under restricted access for potential future use by the workshop group and reproducibility of results.</li>
                    <li>If you are sure about the long term availability of public datasets, then no need of storing on the iBDP. Just provide links in the metadata. If not sure, then we recommend storing it on the iBDP (Size restrictions may apply. Contact BDU)</li>
                </ul>
            </td>
        </tr>
        <tr>
            <td>The workshop is organised for developing ideas and deals with theoretical aspects. No data is used.</td>
            <td>
                <ul style="list-style-type:decimal;">
                    <li>Good Luck!!</li>
                    <li>We encourage you to visit the <a href="http://idata.idiv.de/DDM">iBDP</a></li>
                </ul>
            </td>
        </tr>
        <tr>
            <td>I am an sDiv postdoc hired to write a proposal and develop ideas for the next workshop.</td>
            <td>
                <ul style="list-style-type:decimal;">
                    <li>Good Luck!!</li>
                    <li>We encourage you to visit the <a href="http://idata.idiv.de/DDM">iBDP</a></li>
                </ul>
            </td>
        </tr>
        <tr>
            <td>I am an sDiv postdoc hired for few months. I do not know about data management and how to use the data portal?</td>
            <td>
                <ul style="list-style-type:decimal;">
                    <li>Contact Biodiversity Informatics Unit (BDU) to seek advice on Biodiversity Data Management and iBDP use.</li>
                </ul>
            </td>
        </tr>
        <tr>
            <td>I am an sDiv Postdoc fellow conducting my own synthesis project.</td>
            <td>
                <ul style="list-style-type:decimal;">
                    <li>If the project is data-driven, then provide metadata to the iBDP.</li>
                    <li>We strongly recommend storing of data on iBDP under restricted access for potential future use and reproducibility of results. If you agree, we can also make it public.</li>
                    <li>If the project is theory driven then just let us know about it.</li>
                </ul>
            </td>
        </tr>
        <tr>
            <td>I am an sDiv postdoc and write programming scripts for running models and for doing analysis. Can I store my scripts on the portal for other researchers to reuse?</td>
            <td>
                <ul style="list-style-type:decimal;">
                    <li>We are currently working on it and the system will be available soon.</li>
                    <li>In the mean time we highly recommend a visit to the software carpentry website for best practices in research computing.</li>
                    <li><a href="http://software-carpentry.org" target="_blank">software-carpentry.org</a></li>
                </ul>
            </td>
        </tr>

        <tr id="iDivCoreMemberPostdocs">
            <td colspan="2"><h2>iDiv Core Member and their Research Group Postdocs</h2></td>
        </tr>

        <tr>
            <th>Senario</th>
            <th>Response/Action</th>
        </tr>
        <tr>
            <td>I have a dataset produced from an iDiv funded project</td>
            <td>
                <ul style="list-style-type:decimal;">
                    <li>Provide metadata and store dataset on the iBDP</li>
                </ul>
            </td>
        </tr>
        <tr>
            <td>I have a dataset from non-iDiv funded research project but stored on my computer</td>
            <td>
                <ul style="list-style-type:decimal;">
                    <li>Provide metadata to the iBDP.</li>
                    <li>For the sake of data security against loss and preservation, we highly encourage you to use the iBDP.</li>
                </ul>
            </td>
        </tr>
        <tr>
            <td>My non-iDiv funded datasets are from projects such as Jena experiment/AquaDiva/Bexis and stored on their respective data portal</td>
            <td>
                <ul style="list-style-type:decimal;">
                    <li>Provide information about the datasets to BDU and data managers of respective projects so that they can contact to extract metadata and index it on the iBDP</li>
                </ul>
            </td>
        </tr>
        <tr>
            <td>I have a dataset funded by iDiv, but the data portal is not suitable for my data. There are domain specific data portals that I like to use</td>
            <td>
                <ul style="list-style-type:decimal;">
                    <li>Provide metadata of the dataset and a direct link to the dataset stored on external portal.</li>
                </ul>
            </td>
        </tr>
        <tr>
            <td>I have a dataset jointly created with researcher who is not part of iDiv consortium. Is it possible to provide access to this researcher to the dataset that I have uploaded on the portal?</td>
            <td>
                <ul style="list-style-type:decimal;">
                    <li>Yes. The external researcher should register on the data portal. You as an iDiv scientist will have to make a formal request to the BDU requesting to approve the registration and provide access to your data.</li>
                </ul>
            </td>
        </tr>

        <tr id="iDivMembers">
            <td colspan="2"><h2>iDiv Members</h2></td>
        </tr>

        <tr>
            <th>Senario</th>
            <th>Response/Action</th>
        </tr>
        <tr>
            <td>I have a dataset from iDiv funded project</td>
            <td>
                <ul style="list-style-type:decimal;">
                    <li>Provide data and metadata to the iDiv Data Portal</li>
                </ul>
            </td>
        </tr>
        <tr>
            <td>I have datasets from some other project not funded by iDiv. I want to store it on the iBDP</td>
            <td>
                <ul style="list-style-type:decimal;">
                    <li>Provide metadata to the portal.</li>
                    <li>If the dataset is less than 10 GB we can offer you to use the iBDP for storing data. If the dataset size is very big, then we need to discuss. On a case-to-case basis a decision will be taken.</li>
                    <li>If we cannot store the data, we will provide advice on how to proceed.</li>
                </ul>
            </td>
        </tr>

        <tr id="DataMetadataAccess">
            <td colspan="2"><h2>About Data, Metadata and Access Policy</h2></td>
        </tr>

        <tr>
            <th>Senario</th>
            <th>Response/Action</th>
        </tr>
        <tr>
            <td>Will my data be openly accessible to all by default?</td>
            <td>
                <ul style="list-style-type:decimal;">
                    <li>No.</li>
                    <li>By default, the data is under an embargo period of 2 years. Unless you want to make it accessible to all before that.</li>
                </ul>
            </td>
        </tr>
        <tr>
            <td>Can I extend the embargo period?</td>
            <td>
                <ul style="list-style-type:decimal;">
                    <li>Yes.</li>
                    <li>The embargo period can be extended (repeatedly) for another 2 years. You will need to send request for extension to the BDU.</li>
                </ul>
            </td>
        </tr>
        <tr>
            <td>Is the metadata openly accessible?</td>
            <td>
                <ul style="list-style-type:decimal;">
                    <li>Yes.</li>
                    <li>To make dataset discoverable the metadata is by default openly available.</li>
                </ul>
            </td>
        </tr>
        <tr>
            <td>I want to mask some fields of my metadata such as information about method till I publish my paper.</td>
            <td>
                <ul style="list-style-type:decimal;">
                    <li>It is possible to hide the information in metadata. Or simply don’t provide that information.</li>
                </ul>
            </td>
        </tr>
        <tr>
            <td>I want to make my data accessible to only my research group.</td>
            <td>
                <ul style="list-style-type:decimal;">
                    <li>It is easily possible. You need to send a request to BDU.</li>
                </ul>
            </td>
        </tr>
        <tr>
            <td>I want to make data accessible to other iDiv Research groups.</td>
            <td>
                <ul style="list-style-type:decimal;">
                    <li>It is easily possible. You need to send a request to BDU.</li>
                </ul>
            </td>
        </tr>
        <tr>
            <td>Does the iBDP provide long-term archiving of datasets?</td>
            <td>
                <ul style="list-style-type:decimal;">
                    <li>Yes.</li>
                    <li>The dataset will be archived for at least 10 years and further till iDiv exists.</li>
                </ul>
            </td>
        </tr>
        <tr>
            <td>What is a dataset from the iBDP perspective?</td>
            <td>
                <ul style="list-style-type:decimal;">
                    <li>A dataset represents one or more data tables (text file, spreadsheet), GIS layers or database views which the metadata describes.</li>
                    <li>A dataset represents the file or files that will be provided to a person requesting the data. For example, if an Excel spreadsheet is being provided, then the spreadsheet can be considered to be a dataset. If the spreadsheet has three worksheets, then it is a dataset with three data tables.</li>
                    <li>If the site stores its data in a relational database, then the data to be shared would be an exported view (query).</li>
                </ul>
            </td>
        </tr>
        <tr>
            <td>The journal requires me to submit data to an institutional data repository and provide dataset link in the manuscript.</td>
            <td>
                <ul style="list-style-type:decimal;">
                    <li>The iBDP is an institutional repository. You can provide data access link for dataset stored on data portal, which is permanent.</li>
                    <li>iDiv provides long-term archiving and storing facility.</li>
                    <li>We are working on providing DOIs, too.</li>
                </ul>
            </td>
        </tr>
        <tr>
            <td>My work contract is for a short period, however I will continue working on the project. Is it possible to retain access to the datasets that I have uploaded?</td>
            <td>
                <ul style="list-style-type:decimal;">
                    <li>Yes. Access rights can be retained, but such request should be made to the BDU by your supervisor or group head in iDiv.</li>
                </ul>
            </td>
        </tr>
        <tr>
            <td>I was working as iDiv researcher in the past (iDiv Alumni). Can I retain my registration and access to the datasets stored on the iBDP?</td>
            <td>
                <ul style="list-style-type:decimal;">
                    <li>Your user registration will continue to be valid. However, you will have free access to metadata and datasets that were made available to all iDiv and Public.</li>
                </ul>
            </td>
        </tr>
    </table>
</div>