<style type="text/css">
    h1.text {
        text-align: center;
        margin: 30px 0px 30px 0px;
    }

    div.text {
        margin: 0px 5% 0px 5%;
    }

</style>
<div class="text">
    <h1>Biodiversity Data Portal (iBDP) Usage Policy</h1>
    <p>The iDiv Biodiversity Data Portal (iBDP) is a platform for data management, storage and access provided by the Biodiversity Informatics Unit of iDiv. It allows for safekeeping and dissemination of iDiv data.</p>

    <p>Anyone who wants to use the iBDP beyond searching for metadata needs to agree to these rules.</p>

    <h3>Definitions</h3>

    <p>In these rules the following terms are used:</p>
    <ul>
        <li><b>(Primary)</b> Data: measurements, observations, model output, …</li>
        <li><b>Metadata:</b> descriptive information about detail or aggregate data sets, necessary  to interpret, use, and disclose data</li>
        <li><b>iDiv member</b> as defined in the bylaws of iDiv (PIs + other scientists that were given membership)</li>
        <li><b>iDiv scientist</b> any person (PI, Postdoc, PhD student, master or bachelor student working on their thesis, research assistants) working within iDiv.</li>
        <li><b>iBDP user</b> any person using the iBDP.</li>
        <li><b>Data Owner:</b> The data owner is the university or research institution for which the data are collected. It is represented by the principal investigator (PI) of the project or part of the subproject he/she is responsible for. The data owner has to ensure that other people associated with the data (in particular data collectors) are appropriately considered and that their intellectual property rights are not violated. The PI can delegate the tasks associated with data ownership to other PIs or group members.</li>
        <li><b>Data Collector:</b> The person or persons responsible for collecting/creating the data.</li>
        <li><b>Data Custodian:</b> Person responsible for the provision of a specific set of data and metadata to iBDP. From the point of view of iDiv, this person represents all involved Data Owners and is responsible to ensure that intellectual property rights of data owners are not violated.</li>
        <li><b>Data Provider:</b> Person uploading data or metadata to the iBDP.</li>
        <li><b>BDU:</b> iDiv's Biodiversity Informatics Unit which provides the iBDP.</li>
        <li><b>Data Manager:</b> the Head of the Biodiversity Informatics Unit</li>
    </ul>
    <h3>Data management</h3>
    <ul>   
        <li>The iBDP offers data storage and management as described in the iDiv data sharing rules. The following rules apply to all metadata and data made accessible via the iBDP.</li>
    </ul>
    <h3>Registration</h3>
    <ul>
        <li>Any person wishing to use the iBDP beyond the search for metadata needs to register with the system. Registration requires acceptance of the iBDP Usage Rules.</li>
        <li>The Data Manager can withdraw access rights to the iBDP. This decision has to be confirmed by the iDiv Biodiversity Informatics Unit Board at its next meeting.</li>
    </ul>
    <h3>Data creation/contribution</h3>
    <ul>
        <li>Prior to uploading (meta)data to the iBDP the data custodian has to obtain permission from the data owners. The data custodian is required to ensure that data licenses are not violated. The data </li>custodian can delegate these tasks to another person, the data provider. All data including metadata, supplementary information and quality indicators should be provided and uploaded using standards and open formats to the extent possible.
        <li>If data is uploaded in a proprietary format, information about the software needed to access it or preferably the software itself needs to be provided.</li>
        <li>If data refers to research objects, e.g. specimens, soil samples, drilling cores, either the data or the metadata need to contain information on the location to these objects.</li>
        <li>If data is deposited elsewhere, preferably in a well-established archive, metadata can (and in the case of iDiv financed data must) be made available via the iBDP. It should contain a link to the </li>actual (primary) data.
    </ul>
    <h3>Data quality</h3>
    <ul>
        <li>Quality control of data is primarily the duty of the data collectors and data custodians. The ultimate responsibility for data quality lies with the data owners.</li>
        <li>The BDU will not change the original data record from a data provider, but may undertake conversions or transformations of the data structure or format to allow its inclusion in the iBDP. BDU will offer technical support for quality assurance.</li>
    </ul>
    <h3>(Meta) Data sharing and redistribution</h3>
    <ul>
        <li>By default, metadata provided to iBDP is publically available.</li>
        <li>In exceptional cases, it may be necessary to restrict metadata access to iDiv members or scientists or a restricted group of iBDP users or to a subset of the metadata. The reasons for doing so need to be submitted to the BDU in writing.</li>
        <li>By default, data deposited in the iBDP shall be made publically available under a Creative Commons Attribution Non-Commercial License (CC-BY-NC 1.0)  unless legal issues or other concerns prevent this. To give the data owners and collectors time to perform their analysis, an embargo period of two years from the completion of data acquisition will be observed. During this time, the primary data will not be made publically available. This period can be extended once for another two years via a message to the data manager. The request for the extension should be formally made 3 months prior to the end of the embargo. Further extensions are possible but need to be justified in writing. Upon a written request to the BDU providing the reasons for doing so, a different license or embargo period can be chosen.</li>
        <li>During the embargo period, the following rules apply:</li>
    <li>Data utilization request: A person who would like to use data generated, collected and deposited by someone else, needs to send a formal written request to the data custodian that states the use/analysis intended with the data. The request must be copied to the data manager. The iBPD supports this communication.</li>
        <li>Data usage has to be carried out only after allowance from the data custodian.)</li>
        <li>Data shared can only be used for the analysis indicated in the initial request. Any further analysis requires a new data request.</li>
        <li>Data access is granted to individual persons. Data shared may not be given to third parties. This includes scientists even within the same working group. Every person needs their own account to the iBDP and needs to apply for their own permission for data usage.</li>
    </ul>
    <h3>Data citation</h3>
    <ul>
        <li>In publications and other results obtained by using data accessed via iBDP, data sources have to be acknowledged by a citation.</li>
        <li>Sample citations containing the required information will be provided upon data download.</li>
    </ul>
    <h3>Further Rules</h3>
    <ul>
        <li>The iDiv Biodiversity Informatics Unit Board decides in cases of disagreement.</li>
        <li>In case of further disagreement, the iDiv board of directors decides.</li>
        <li>A report about the metadata and data as well as data usage contained in the iBDP will be provided to DFG as part of the iDiv reports.</li>
    </ul>
    <h3>Limitation of liability</h3>
    <ul>
        <li>Each effort has been made by the BDU to ensure data quality. The BDU or any data owner or data custodian can neither be held liable for any error or omission in the datasets not for any direct, indirect or consequential damages arising from the use thereof. Users are requested to report any errors or deficiencies to the BDU.</li>
        <li>If a provision of this agreement is or becomes illegal, invalid or unenforceable in any jurisdiction, that shall not affect:</li>
        <li style="list-style-type:none;">
            <ul style="list-style-type:decimal;">
                <li>The validity or enforceability in that jurisdiction of any other provision of this agreement; or</li>
                <li>The validity or enforceability in other jurisdictions of that or any other provision of this agreement.</li>
            </ul>
        </li>
    </ul>
</div>